body{
	margin:0;
	font-family: Helvitica;
	background-color: #D23333;
}
h1{
	font-weight: 100;
	font-color:white;
}
#logo{
	height: 80px;
	width: 80px;
	display: block;
}
#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}